<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TeacherDao">
    <resultMap type="Teacher" id="userResultMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
        <result property="classNum" column="class_num" jdbcType="INTEGER"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="grade" column="grade" jdbcType="INTEGER"/>
        <result property="project" column="project" jdbcType="VARCHAR"/>
        <result property="rank" column="rank" jdbcType="INTEGER"/>
        <result property="unit" column="unit" jdbcType="VARCHAR"/>
        <result property="isLeader" column="isLeader" jdbcType="VARCHAR"/>
        <result property="isDel" column="isDel" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="select">
      SELECT * FROM t_sys_teacher
    </sql>

    <select id="selectByParam" resultMap="userResultMap">
        <include refid="select"/>
        WHERE isDel = 0
        ORDER by rank
    </select>

    <select id="selectById" resultMap="userResultMap">
        <include refid="select"/>
        where id=#{id}
    </select>

    <select id="pageList" resultMap="userResultMap">
        <include refid="select"/>
        limit #{offset},#{size}
    </select>

    <select id="pageTotal" resultType="java.lang.Integer">
        select count(*) from t_sys_teacher
    </select>

    <select id="getById" resultMap="userResultMap">
      select * form t_sys_teacher WHERE id = #{id}
    </select>

    <select id="searchTeacher" resultMap="userResultMap">
        select * from t_sys_teacher
        where concat(login_name,real_name,age,sex,project,rank,unit,grade,class_num) like CONCAT('%',#{keyword},'%')
    </select>

    <insert id="insertSelective" parameterType="Teacher" useGeneratedKeys="true" keyProperty="id" flushCache="true">
        INSERT into t_sys_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="loginName != null">
                login_name,
            </if>
            <if test="classNum != null">
                class_num,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="grade != null and grade != '' ">
                grade,
            </if>
            <if test="project != null">
                project,
            </if>
            <if test="rank != null">
                rank,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="isLeader != null">
                isLeader,
            </if>
            <if test="isDel != null">
                isDel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="classNum != null">
                #{classNum,jdbcType=INTEGER},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="grade != null and grade != '' ">
                #{grade,jdbcType=INTEGER},
            </if>
            <if test="project != null">
                #{project,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                #{rank,jdbcType=INTEGER},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="isLeader != null">
                #{isLeader,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateSelective" parameterType="com.pojo.Teacher">
        UPDATE t_sys_teacher
        <set>
            <if test="loginName!=null">
                login_name = #{loginName},
            </if>
            <if test="classNum!=null">
                class_num = #{classNum},
            </if>
            <if test="realName!=null">
                real_name = #{realName},
            </if>
            <if test="age!=null">
                age = #{age},
            </if>
            <if test="sex!=null">
                sex = #{sex},
            </if>
            <if test="grade!=null">
                grade = #{grade},
            </if>
            <if test="project!=null">
                project = #{project},
            </if>
            <if test="rank!=null">
                rank = #{rank},
            </if>
            <if test="unit!=null">
                unit = #{unit},
            </if>
            <if test="isLeader!=null">
                isLeader = #{isLeader},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="del" parameterType="com.pojo.Teacher">
        UPDATE t_sys_teacher
        SET  isDel = 1
        WHERE id = #{id}
    </update>

</mapper>