<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
    <resultMap type="User" id="userResultMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
        <result property="classNum" column="class_num" jdbcType="INTEGER"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="grade" column="grade" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="select">
      SELECT * FROM t_sys_user
    </sql>

    <select id="selectByParam" resultMap="userResultMap">
        <include refid="select"/>
    </select>

    <select id="selectById" resultMap="userResultMap">
        <include refid="select"/>
        where id=#{id}
    </select>

    <select id="pageList" resultMap="userResultMap">
        <include refid="select"/>
        where isDel = 0
        limit #{offset},#{size}
    </select>

    <select id="pageTotal" resultType="java.lang.Integer">
        select count(*) from t_sys_user
    </select>

    <select id="getById" resultMap="userResultMap">
      select * form t_sys_user WHERE id = #{id}
    </select>

    <insert id="insertSelective" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT into t_sys_user (login_name,class_num,real_name,age,sex,grade)
        VALUES (#{loginName},#{classNum},#{realName},#{age},#{sex},#{grade});
    </insert>

    <update id="updateSelective" parameterType="com.pojo.User">
        UPDATE t_sys_user
        <set>
            <if test="loginName!=null">
                login_name = #{loginName},
            </if>
            <if test="classNum!=null">
                class_num = #{classNum},
            </if>
            <if test="realName!=null">
                real_name = #{realName},
            </if>
            <if test="age!=null">
                age = #{age},
            </if>
            <if test="sex!=null">
                sex = #{sex},
            </if>
            <if test="grade!=null">
                grade = #{grade},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="delById" parameterType="com.pojo.User">
        UPDATE t_sys_user
        SET  isDel = 1
        WHERE id = #{id}
    </update>

</mapper>